{%  include "header.html" %}
<!--content-->


<style type="text/css">
    .modal-body{
        height: 250px;
        overflow-y: auto;
    }

    @media (min-height: 500px) {
        .modal-body { height: 400px; }
    }

    @media (min-height: 800px) {
        .modal-body { height: 600px; }
    }
</style>

<section id="services" style="padding: 100px 0px 100px 0px ! important;">
    <div class="container" style="width: 1170px ! important; margin-right: auto ! important; margin-left: auto ! important;">
        <div id="back_link" ><a href="/service/"><< Back to all services list</a><br/></div>
        <h2 id="title">DFWFieldTrial search service</h2>

        <p id="description">A service to search field trial data</p>

        <form id="form" role="form">
            <div class="list_service_table"><table id="listTable"></table></div>
        </form>
        <div id="status"></div>
        <div id="output_format_div" style="display:none; float:right;">
            <p>Download job format
                <select id="output_format" onchange="changeDownloadFormat();">

                </select>
            </p>
        </div>
        <div style="clear:both;"></div>

        <div id="result"></div>

        <div id="plots" style="width:100%; overflow: scroll;"></div>

        <!-- Modal -->
        <div class="modal" tabindex="-1" role="dialog" id="plotModal" style="z-index: 999999;">
            <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content" style="z-index: 9999999;">
                    <div class="modal-header">
                        <h5 class="modal-title">Plot details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#plots').html ('<img src="images/ajax-loader.gif"/>')
                var id_param = null;

                if ('URLSearchParams' in window) {
                    // Browser supports URLSearchParams
                    let params = new URLSearchParams (document.location.search.substring(1));
                    id_param = params.get ("id");
                }

                if (id_param != null) {
                    var req_json = CreatePlotsRequestForExperimentalArea (id_param);


                    if (req_json) {
                         $.ajax ({
                            type: "POST",
                            url: server_url,
                            data: JSON.stringify (req_json),
                            dataType: "json",
                            contentType: "application/json; charset=utf-8"
                        }).done (function (experimental_areas_json) {
                            console.log(experimental_areas_json);
                            LoadTable (experimental_areas_json);
                        }).fail (function (req, status, error) {
                            console.info ("req " + "status " + status + " error " + error);
                        });
                    }
                }
          });

        function LoadTable (experimental_area_json) {
            var jsonArray = experimental_area_json['results'][0]['results'];
            var filtered_data = [];
            jQuery('#status').html('');
            var fieldTrialName = '';
            var team = '';
            for (i = 0; i < jsonArray.length; i++) {
                let exp_area = jsonArray[i]['data'];

                let plots_table = GeneratePlotsForExperimentalArea (exp_area);
                $('#plots').html (plots_table);
/*
                for (j = 0; j < exp_areas_array.length; j++) {
                    let address = exp_areas_array [j]['address'];

                    if (address != undefined) {

                        fieldTrialName = jsonArray [i]['data']['so:name'];
                        team = jsonArray [i]['data']['team'];
                        if (address ['address']['location']['centre'] != undefined) {
                            filtered_data.push (exp_areas_array [j]);
                        }
                    }
                }
*/
            }
            console.log(JSON.stringify(plotsHTMLArray));

        }

        function GeneratePlotsForExperimentalArea (experimental_area_json) {
            console.log(JSON.stringify(experimental_area_json));
            var expAreaId = experimental_area_json['_id']['$oid'];
            var plots = experimental_area_json['plots'];

            if (plots.length>0) {
                var htmlarray = [];

                var row = 1;
                var column = 1;

                for (j = 0; j < plots.length; j++) {

                    if (plots[j]['row_index'] === row) {
                        if (plots[j]['column_index'] === column) {
                            htmlarray.push(formatPlot(plots[j]));
                            column++;
                        }
                    } else if (plots[j]['row_index'] > row) {

                        row++;
                        column = 2;
                        htmlarray.push('</tr><tr>');
                        htmlarray.push('<td>' + row + '</td>');
                        htmlarray.push(formatPlot(plots[j]));
                    }
                }
                var tableString = '<td>1</td>' + htmlarray.join("");
                var tableArray = tableString.split("</tr><tr>");
                var reversedString = tableArray.reverse().join("</tr><tr>");

                return '<div id="plot"><table class="table " id="' + expAreaId + '" style="margin:20px; border-spacing:5px; border-collapse:separate;"><tr>' + reversedString + '</tr></table></div>';
            } else {
                return '<div id="plot"><p>No plot data available.</p></div>'
            }
        }

        </script>
    </div>
</section>

<!--footer-->

{% include "footer.html" %}