{%  include "header.html" %}
    {% load static %}
<!--content-->
<section id="services" style="padding: 100px 0px 100px 0px ! important;">
    <div class="container">
        <div id="back_link" style="visibility: hidden;"><a href="."><< Back to all services list</a><br/></div>
        <h2 id="title"></h2>

        <p id="description"></p>

        <p id="moreinfo"></p>
        <div id="simpleAdvanceWrapper"  style="display:none;">
            <label class="radio-inline" style="margin-right: 20px;"><input type="radio" name="simpleadvanced"
                                                                           value="show_simple"
                                                                           onclick="simpleOrAdvanced(this.value)"
                                                                           checked>
                Simple options </label>
            <label class="radio-inline"><input type="radio" name="simpleadvanced" value="show_advanced"
                                               onclick="simpleOrAdvanced(this.value)"> Advanced options</label>
        </div>
        <form id="form" role="form" data-toggle="validator">
            <div class="list_service_table">
                <table id="listTable"></table>
            </div>
        </form>
        <div id="status"><img src="{% static "images/ajax-loader.gif" %}"/></div>
        <div id="output_format_div" style="display:none; float:right;">
            <p>Download job format
                <select id="output_format" onchange="changeDownloadFormat();">

                </select>
            </p>
        </div>
        <div style="clear:both;"></div>

        <div id="result"></div>

        <div id="map" style="display: none"></div>

        <div id="tableWrapper">
            <table id="resultTable"></table>
        </div>
        <div id="message" style="display: none">
            <p>Copied to clipboard</p>
        </div>

        <div id="legend" style="display: none"></div>

				
				
				{% if services %}
					<table id="services_table">
						
					<tr>	
						<th>Name</th>
						<th>Description</th>
						<th>Provider</th>
						<th>Application Category</th>
						<th>Application Subcategory</th>
						<th>Input</th>
						<th>Output</th>
					</tr>						

					{% for service in services %}
					{% autoescape off %}
					<tr>	
						<td><a class="newstyle_link" href="{{ service.alt_name }}"> <img src="{{ service.image }}" /> {{ service.name }} </a> </td>
						<td>{{ service.description }}</td>


						<td>{{ service. }}
							{% if service.provider %}															
								<ul>
									{% for obj in service.provider %}
						        <li title = "{{ obj.description }}"> 
											{% if obj.logo %}
												<img src = "{{ obj.logo }}" height="20px"/>
											{% endif %}
  										<a target="_blank" href="{{ obj.url }}">{{ obj.name }}</a>
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						</td>

						<td>
							{% if service.category %}
								<a target="_blank" href="{{ service.category.url }}" class="newstyle_link">{{service.category.name }}</a>
							{% endif %}
						</td>
						
						<td>
							{% if service.subcategory %}
								<a target="_blank" href="{{ service.subcategory.url }}" class="newstyle_link">{{service.subcategory.name }}</a>
							{% endif %}
						</td>

						<td>
							{% if service.input %}															
								<ul>
									{% for obj in service.input %}
						        <li title="{{ obj.description }}"><a target="_blank" href="{{ obj.url }}">{{ obj.name }} </a></li>
									{% endfor %}
								</ul>
							{% endif %}
						</td>
						<td>
							{% if service.output %}															
								<ul>
									{% for obj in service.output %}
						        <li title="{{ obj.description }}"><a target="_blank" href="{{ obj.url }}">{{ obj.name }} </a></li>
									{% endfor %}
								</ul>
							{% endif %}
						</td>
					</tr>						

					{% endautoescape %}
					{% endfor %}

					</table>

				{% else %}

					NO SERVICES
					
				{% endif %}



				<!-- move this to django -->
<!--
        <script type="text/javascript">
            // change this to your URL (relative), has to be a local URL as JS restriction of cross domain
            var services = '{"operations": {"operation":"get_all_services"}}';
            var selected_service_name;
            var response = null;
            var parameters;
            var groups;
            var publicOrPrivate = '{{ private | safe }}';
            $(document).ready(function () {
                // populateService('BlastN service');
                $.ajax({
                    url: root_dir + "service/{{ private | safe }}ajax/get_all_services/",
                    type: "GET",
                    success:
                        function (data) {
                            display_all_services_as_table(JSON.parse(data));
                            $('#status').html('');
                        },
                    error: function () {
                    }
                });



                var yrtable;

                //    var markers = new Array();
                var markersGroup;
                var map;


            });


        </script>
-->
    </div>
</section>

<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" id="treatmentModal" style="z-index: 999999;">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content" style="z-index: 9999999;">
            <div class="modal-header">
                <h5 class="modal-title">Plot details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">

            </div>
            <div class="modal-footer" id="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

 <!-- Modal -->
 <div class="alert alert-success" id="success-alert" style="display: none;">
     <button type="button" class="close" data-dismiss="alert">x</button>
     <strong>Success! </strong> Added one set.
 </div>
<style>
    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        border: 1px solid #2c3e50 ! important;
        background: #2c3e50 ! important;
</style>

{% include "footer.html" %}
