{%  include "header.html" %}
<!--content-->
<style type="text/css">
    .modal-body{
        height: 250px;
        overflow-y: auto;
    }

    @media (min-height: 500px) {
        .modal-body { height: 400px; }
    }

    @media (min-height: 800px) {
        .modal-body { height: 600px; }
    }
</style>

<section id="services" style="padding: 100px 0px 100px 0px ! important;">
    <div class="container">
        <h2 id="title">DFW Field Trial</h2>


        <p id="description"></p>

        <form id="form" role="form">
            <div class="list_service_table">
                <table id="listTable"></table>
            </div>
        </form>
        <div id="status"></div>
        <div id="output_format_div" style="display:none; float:right;">
            <p>Download job format
                <select id="output_format" onchange="changeDownloadFormat();">

                </select>
            </p>
        </div>
        <div style="clear:both;"></div>

        <div id="result"></div>

        <div id="map"></div>

        <div id="tableWrapper">
            <table id="resultTable"></table>
        </div>

        <!-- Modal -->
        <div class="modal" tabindex="-1" role="dialog" id="plotModal" style="z-index: 999999;">
            <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content" style="z-index: 9999999;">
                    <div class="modal-header">
                        <h5 class="modal-title">Plot details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#plots').html('<img src="images/ajax-loader.gif"/>');
                var id_param = null;
                var type_param = null;

                if ('URLSearchParams' in window) {
                    // Browser supports URLSearchParams
                    let params = new URLSearchParams(document.location.search.substring(1));
                    id_param = params.get("id");
                    type_param = params.get("type");
                }

                if (type_param != null) {
                    var req_json;

                    if (type_param === 'AllFieldTrials') {
                        req_json = CreatePlotsRequestForAllFieldTrials('');
                    } else if (id_param != null) {
                        if (type_param === 'Grassroots:Study') {
                            req_json = CreatePlotsRequestForExperimentalArea(id_param);
                        } else if (type_param === 'Grassroots:FieldTrial') {
                            req_json = CreatePlotsRequestForFieldTrial(id_param);
                        }
                    }

                    if (req_json) {
                        $.ajax({
                            type: "POST",
                            url: server_url,
                            data: JSON.stringify(req_json),
                            dataType: "json",
                            contentType: "application/json; charset=utf-8"
                        }).done(function (ft_json) {
                            console.log(JSON.stringify(ft_json));
                            start_map(ft_json, type_param);
                        }).fail(function (req, status, error) {
                            console.info("req " + "status " + status + " error " + error);
                        });
                    }
                }
            });

            function start_map(ft_json, type_param) {
                $('#simpleAdvanceWrapper').hide();
                $('#status').html('');
                $('#form').html('');
                $('#tableWrapper').html('<table id="resultTable"></table>');
                // $('#result').html(JSON.stringify(json['results'][0]['results'][0]['data']));
                markersGroup2 = new L.MarkerClusterGroup({});
                map = L.map('map', {zoomControl: false}).setView([52.621615, 10.219470], 5);

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
                    maxZoom: 18
                }).addTo(map);

                L.control.zoom({position: 'topright'}).addTo(map);

                startFieldTrialGIS(ft_json['results'][0]['results'], type_param);
            }

        </script>
    </div>
</section>

<!--footer-->

{% include "footer.html" %}
